.buying-page {
  background-color: #f5f5f5;
  
  .title {
    padding: 20px;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 94.118% */
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 20px;
  }

}

