@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-right: white solid 1px;
}

.navbar a:hover {
    background-color: #575757;
}
.navbar a:not(:last-child)::after {
    /* content: '|'; */
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
